<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
    <link rel="stylesheet" href="../public/css/cliente-car.css">
</head>

<body>

    <div class="cliente">
        <div class="mensaje">
            <p><strong>Hola Herismailis ¡Tu reserva fue completada!</strong></p>
            <br>
            <p><strong>Detalles</strong></p>
            <br>
            <p>~Recoger: 06/10/2025</p>
            <p>~Devolución: 10/10/2025</p>
            <p>~Ubicación: Santiago Av Estrella S. JS card</p>
            <p>~Vehículo: Chevrolet</p>
            <p>~Seguro: ✔</p>
        </div>
    </div>

</body>

</html>