<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>
  <link rel="stylesheet" href="../public/css/Contacto.css">
</head>

<body>

  <h1>Contáctanos</h1>

  <form action="mailto:contacto@turismoglobal.com" method="POST" enctype="text/plain" class="cuad1">
    <label for="nombre">Nombre:</label><br>
    <input type="text" id="nombre" name="Nombre" required><br><br>
    <label for="email">Correo electrónico:</label><br>
    <input type="email" id="email" name="Correo" required><br><br>

    <label for="mensaje">Mensaje:</label><br>
    <textarea id="mensaje" name="Mensaje" rows="5" cols="50" required></textarea><br><br>

    <button type="submit">Enviar</button>
  </form>

  <p><em>También puedes escribirnos a:</em> <strong>contacto@turismoglobal.com</strong></p>

</body>
</html>
