<body style="background-color: #6ba8ec; color: white;  font-family: Arial, sans-serif;">
<body>


  <nav>
    <ul>
      <li><a href="Inicio.html">Inicio</a></li>
      <li><a href="Sobre Nosotros.html">Sobre Nosotros</a></li>
      <li><a href="Destinos.html">Destinos</a></li>
      <li><a href="Galeria.html">Galería</a></li>
      <li><a href="Contacto.html">Contacto</a></li>
    </ul>
  </nav>

    <h1>Contáctanos</h1>

    <form>
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br><br>

        <label for="email">Correo electrónico:</label><br>
        <input type="email" id="email" name="email"><br><br>

        <label for="mensaje">Mensaje:</label><br>
        <textarea id="mensaje" name="mensaje" rows="5" cols="50"></textarea>
    </form>

    <p><em>Próximamente activaremos esta función.</em></p>

    <p>También puedes escribirnos a: <strong>contacto@turismoglobal.com</strong></p>

</body>
</html>