<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio - Turismo Global</title>
  <link rel="stylesheet" href="../public/css/inicio.css">
</head>
<body>

 
  <nav class="navbar">
    <ul class="nav-list">
      <li><a href="Inicio.html" class="nav-link">Inicio</a></li>
      <li><a href="Sobre Nosotros.html" class="nav-link">Sobre Nosotros</a></li>
      <li><a href="Destinos.html" class="nav-link">Destinos</a></li>
      <li><a href="Galeria.html" class="nav-link">Galería</a></li>
      <li><a href="Contacto.html" class="nav-link">Contacto</a></li>
    </ul>
  </nav>

  
  <main class="contenido">
    <h1>Bienvenido a Turismo Global</h1>
    <p>Explora el mundo con nosotros. Este sitio ofrece información turística sobre varios países, incluyendo cultura, gastronomía y lugares emblemáticos.</p>

    
    <div class="imagen-contenedor">
      <img src="../public/img/mundo.jpg" alt="Mapa del mundo" class="logo">
    </div>

   
    <a href="Destinos.html" class="boton">Ver destinos destacados</a>
  </main>

</body>
</html>

