<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Reserva</title>
    <link rel="stylesheet" href="../public/css/pago_confirmado.css">
</head>
<body>
    <div class="container">
        <div class="top-circle"></div>
        <div class="bottom-circle"></div>
        <div class="card">
            <h1>Su reserva está Confirmada</h1>

            <p class="section-title">Actividades de reserva</p>
            <p class="greeting">Gracias tu juan por su reservación con tus actividades</p>

            <div class="details">
                <div class="column">
                    <p><strong>Nombre:</strong> juan</p>
                    <p><strong>Clase de cocina</strong></p>
                    <p><strong>Sesion de yoga</strong></p>
                    <p><strong>Ubicación</strong></p>
                </div>
                <div class="column">
                    <p><strong>Datos</strong></p>
                    <p><strong>Hora</strong></p>
                    <p><strong>Hora</strong></p>
                    <p><strong>Ubicación</strong></p>
                </div>
                <div class="column">
                    <p><strong>Fue enviado a</strong></p>
                    <p>correo@gmail.com</p>
                    <p><strong>Codigo de envio</strong></p>
                    <p class="tracking-code">483518557891</p>
                </div>
            </div>

            <a href="#" class="button">Ver o editar reservación</a>
        </div>
    </div>
</body>
</html>