<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Explora el Mundo</title>
</head>
<body style="background-color: #6ba8ec; color: white;  font-family: Arial, sans-serif;">
<body>

  <header>
    <h1>Explora el Mundo</h1>
  </header>

  <nav>
    <ul>
      <li><a href="Inicio.html">Inicio</a></li>
      <li><a href="Sobre Nosotros.html">Sobre Nosotros</a></li>
      <li><a href="Destinos.html">Destinos</a></li>
      <li><a href="Galeria.html">Galería</a></li>
      <li><a href="Contacto.html">Contacto</a></li>
    </ul>
      <a href="Destinos.html">Atrás</a>
  </nav>

<h1>Rusia</h1>

<!-- Sección principal de descripción -->
<table border="1" width="100%">
    <tr>
        <td width="30%">
            <img src="https://www.iberia.com/wcs/imagenes/guias/MOSCU/MOSCU.JPG" alt="Moscú" width="100%">
        </td>
        <td>
            <h2>Descripción</h2>
            <p>Rusia es el país más grande del mundo, ubicado en Europa del Este y Asia del Norte. Es conocido por su rica historia, su arquitectura imponente y su diversidad cultural.</p>
        </td>
    </tr>
</table>

<!-- Sección de lugares turísticos -->
<table border="1" width="100%">
    <tr>
        <th colspan="2">Lugares turísticos</th>
    </tr>
    <tr>
        <td width="50%">
            Museo Hermitage

        </td>
        <td>
            <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/07/2b/ec/10.jpg" width="250">
        </td>
    </tr>
    <tr>
        <td>
            Kremlin de Moscú


        </td>
        <td>
            <img src="https://lh3.googleusercontent.com/gpms-cs-s/AB8u6HZU6R1iTOQwHEkUrx1njOYuOyd3OFMshhxlCJSshUmk86sTPH0LeYHCHXNt_rsusVx1ZenVX5eQQRoZczTNO4SE126Lx39hrs7axpXOn0EGUjKqJaswveuxzvRxRG-9jNc50UXp=s680-w680-h510-rw" alt="San Basilio" width="250">
        </td>
    </tr>
</table>

<!-- Más lugares turísticos -->
<table border="1" width="100%">
    <tr></tr>
    <tr>
        <td width="50%">
            Königsberg Cathedral

        </td>
        <td>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVtk0_8bpS3Nql8ohZddOEjzXodIzT3EDoHA&s" width="250">
        </td>
    </tr>
    <tr>
        <td>
            Lago Baikal
        </td>
        <td>
            <img src="https://mf.b37mrtl.ru/rbthmedia/images/2018.10/original/5bc0bcb885600a2e736fdcb4.jpg" width="250">
        </td>
    </tr>
</table>

<!-- Comida Típica -->
<table border="1" width="100%">
    <tr>
        <th colspan="2">Comida típica</th>
    </tr>
    <tr>
        <td>Borsch</td>
        <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Borscht_served.jpg/1200px-Borscht_served.jpg" alt="Borsch" width="250"></td>
    </tr>
    <tr>
        <td>Pelmeni</td>
        <td><img src="https://upload.wikimedia.org/wikipedia/commons/d/df/Pelmeni_Russian.jpg" alt="Pelmeni" width="250"></td>
    </tr>
    <tr>
        <td>Blini</td>
        <td><img src="https://www.allrecipes.com/thmb/R2ygHj8JCdz3e8GanmY863lUK5U=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/AR-260537-easy-blini-russian-pancake-DDMFS-4x3-beauty-0f3dd3a823054d82bb92bf9546ecc12b.jpg" alt="Blini" width="250"></td>
    </tr>
</table>

<br>

<!-- Fragmento del Himno -->
<table border="1" width="100%">
    <tr>
        <th>Fragmento del himno</th>
    </tr>
    <tr>
        <td>
            “Россия — священная наша держава, Россия — любимая наша страна...”
            <br><br>
            <audio controls>
                <source src="Himno nacional de Rusia - National anthem of Russia (RUES lyrics).mp3" type="audio/ogg">
                Tu navegador no soporta el elemento de audio.
            </audio>
        </td>
    </tr>
</table>

<br>

<!-- Costumbres o datos curiosos -->
<table border="1" width="100%">
    <tr>
        <th colspan="2">Costumbres o datos curiosos</th>
    </tr>
    <tr>
        <td>Celebración del Año Nuevo Ruso</td>
        <td><img src="https://espanarusa.com/files/autoupload/33/72/87/zwmzqw0h422716.jpg" alt="Año Nuevo" width="250"></td>
    </tr>
    <tr>
        <td>Ballet ruso</td>
        <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNRfxdnG20fgbziA6ZHhcCgIkHbZppW8aRGg&s" alt="Ballet Ruso" width="250"></td>
    </tr>
    <tr>
        <td>Baños de vapor (Banya)</td>
        <td><img src="https://img.remediosdigitales.com/b5858c/typical_russian_banya/450_1000.jpg" alt="Banya" width="250"></td>
    </tr>
</table>

<body>
    <h3>Mapa</h3>
    <p><a href="https://es.wikipedia.org/wiki/Rusia" target="_blank">Ver Rusia en Wikipedia</a></p>
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d43920235.33729465!2d30.04713835594988!3d58.751228514210785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ab9f55b65b4cd%3A0x5404db9df8e5560!2sRusia!5e0!3m2!1ses-419!2sus!4v1716026195539!5m2!1ses-419!2sus" 
        width="100%" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</body>
</html>