* {
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
}



.nosotros{
    background-color: #4e92f8;
    padding: 1rem 0;
    margin: 1px;
    width: 100vw;
    left: 50%
    
}

nav a {
    text-decoration: ;
    color: rgb(240, 228, 228);
    padding: 5px;
}

nav ul li:hover {
    text-decoration: underline;
}

.nav:hover{
    color: #4315e7;
}


body {
    background-color: #e0edfc;
    color: rgb(75, 69, 69);
    font-family: Arial, sans-serif;
}